.modal-video {
    .modal-video-body {
        height: 88vh;
        max-width: 90% !important;
    }
}

#home-hero {
    display: flex;
    flex-direction: column;
    height: 62vh;
    position: relative;
    padding: 0;
    justify-content: center;
    width: 100%;

    .brand-video-copy {
        align-items: center;
        align-self: center;
        display: inline-flex;
        flex-direction: column;
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        text-align: center;
        transition: opacity 444ms linear;
        z-index: 5;
        h1, div {
            color: #ffffff;
        }
    }

    .brand-video-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        align-items: center;
        text-align: center;

        #brand-video {  
            display: block; 
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: opacity 1000ms linear;
        }
    }
}






